# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
.env

# Database files
*.db
chemicals.db
login_credentials.json

# macOS
.DS_Store

# Editor directories and files
.vscode/
.idea/

# Logs
*.log
